<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <title>Another Service</title>
    </head>
    <body>

        <div class="container" ng-controller="controllerOne">
            
            <h2>controllerOne</h2>

            <ul>
                <li ng-repeat="person in myService.personList">{{person.name}}, {{person.age}} 
                    <button type="submit" ng-click="delPerson({person})">del</button> 
                    <button type="submit" ng-click="editPerson({person})">edit</button></li>
            </ul>
            
            <div class="container">
                
                <h4>new person</h4>
                
                <p>name</p>
                <input type="text" ng-model="name">
                <p>age</p>
                <input type="number" ng-model="age">

                <button type="submit" ng-click="addPerson()">add</button>
                
            </div>
            
        </div>
        
        <hr>
        
        <div class="container" ng-controller="controllerTwo">

            <h2>controllerTwo</h2>
            
            <ul>
                <li ng-repeat="person in myService.personList">{{person.name}}, {{person.age}}</li>
            </ul>
            
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="app.js" type="text/javascript"></script>

    </body>
</html>